<%= content_for :title, @user %>

<div class="container">
  <h1><%= @user %></h1>

  <p><strong>First name:</strong> <%= @user.first_name %></p>
  <p><strong>Last name:</strong> <%= @user.last_name %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Role:</strong> <%= @user.role.humanize %></p>
  <p><strong>Blog role:</strong> <%= @user.blog_role.humanize %></p>
  <p><strong>Video role:</strong> <%= @user.video_role.humanize %></p>

  <div class="actions">
    <%= link_to 'Edit', [:edit, :admin, @user], class: 'btn btn-primary' %>
    <%= link_to 'Destroy',
                [:admin, @user],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger' %>
  </div>
</div>